.footer{
    background-color: #000;

}
.footer-text{
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
}
.footer-contact li{
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 30px;
}
.footer-contact a{
    color:#ffffff;
}

.footer-copy{
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #cccccc;
}