@import './global.css';
@import './header.css';
@import './indrotuction.css';
@import './experience.css';
@import './formation.css';
@import './footer.css';


@media (max-width: 1000px) {
    .introduction h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .header{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    .header a{
        background-color: #f5f5f5;
        border-radius: 5px;
    }
    .introduction {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introduction img{
        display: none;
    }
    .introduction h1 {
        font-size: 2rem;
    }

    .introduction h1::before {
        width: 30px;
        height: 10px;
        left: 0px;

    }
    .exp{
        grid-template-columns: 1fr;
        gap: 40px;
    }
  
    .subtitle{
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
    .exp-text{
        font-size: 1.25rem;
    }
    .work-year{
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }
    .work-year::before{
        content: "Ano: ";
    }
    .formation-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }
    .formation .subtitle{
        color: white;
    }
    .formation-text{
        font-size: 1.25rem;
    }
    .formation-extra h3::before{
        position: initial;
        margin-bottom: 10px;
    }
    .footer-container{
        grid-template: 1fr;
        gap: 40px;
    }
    .footer-contact li{
        font-size: 1.5rem;
    }

}

@media (max-width: 400px) {
    .introduction {
        grid-template-columns: 1fr;
    }
    .introduction img{
        display: none;
    }
    .introduction h1{
        font-size: 1.4rem;
    }

    .work{
        grid-template-columns: 1fr;
    }
}